<% if @todos.errors.present? %>
    <ul>
        <% @todos.errors.each do |error, message| %>
            <li>
                <%= "#{error.capitalize}  #{message}" %>
            </li>
            <% end %>
    </ul>
<% end %>

<div class="from container">
    <%= form_for @todos do |todo| %>
        <div class="form-group">
            <%= todo.label :done, "Done" %>
            <%= check_box_tag "todo[done]", true ,checked = @todo["done"] %>
        </div>
        <div class="form-group">
            <%= todo.label :name, "Name" %>
            <%= todo.text_field :name %>
        </div>
        <div class="form-group">
            <%= todo.label :due_date, "DueDate" %>
            <%= todo.text_field :due_date %>
        </div>
        <div class="form-group">
            <%= todo.label :note, "Note" %>
            <%= todo.text_field :note %>
        </div>
        <%= todo.submit "Update" %>
    <% end %>
</div>