<% if @todos.errors.present? %>
    <ul>
        <% @todos.errors.each do |error, message| %>
            <li>
                <%= "#{error.capitalize}  #{message}" %>
            </li>
            <% end %>
    </ul>
<% end %>

<%= form_for @todos do |todo| %>
    <%= todo.label :done, "Done" %>
    <%= check_box_tag "todo[done]", true ,checked = :done %>
    <%= todo.label :name, "Name" %>
    <%= todo.text_field :name %>
    <%= todo.label :due_date, "DueDate" %>
    <%= todo.text_field :due_date %>
    <%= todo.label :note, "Note" %>
    <%= todo.text_field :note %>
    <%= todo.submit "Update" %>
<% end %>